
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section {
    background-color: darkslategray;
    margin: 1rem;
    padding: 1rem;
}
.paragraph {
    background-color: white;
    padding: 1rem;
}
.paragraph .dragging {
    opacity: 0.3;
}
.paper-bin {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.ghost {
    background-color: blue;
    height: 300px;
    left: -100vw;
    position: absolute;
    width: 300px;
}